<div class="contact_body">
    <div class="container">
        <h1 class="contact_h1">Contact me</h1>
        <h3 class="contact_h3">We are always happy to find out what's on your mind</h3>

        <form (ngSubmit)="submitForm()" #contactForm="ngForm" name="ngForm">
            <div class="contact_field">
                <input type="text" name="name" class="contact_input" [ngClass]="{ 'invalid_input': nameInput.invalid && nameInput.touched }" [(ngModel)]="name" required #nameInput="ngModel">
                <label class="contact_input_label">Name</label>
                <!-- <div class="contact_field_error" *ngIf="nameInput.invalid && nameInput.touched">Your Name is required.</div> -->
            </div>
            
            <div class="contact_field">
                <input type="email" name="email" class="contact_input" [ngClass]="{ 'invalid_input': emailInput.invalid && emailInput.touched }" [(ngModel)]="email" required #emailInput="ngModel">
                <!-- <div class="contact_field_error" *ngIf="emailInput.invalid && emailInput.touched">Your Email is required.</div> -->
                <label class="contact_input_label">Email</label>
            </div>
            
            <div class="contact_field">
                <!-- <label class="contact_input_label">Your message</label> -->
                <textarea name="message" class="contact_input" placeholder="Write something we just must know about..."  [(ngModel)]="message" required #messageInput="ngModel"></textarea>
                <!-- <div class="contact_field_error" *ngIf="messageInput.invalid && messageInput.touched">Field message is required.</div> -->
            </div>

            <input type="submit" value="Send" class="contact_submit_button" id="contact_submit_button" [disabled]="contactForm.invalid" [ngClass]="{ 'able_submit': contactForm.valid }">
        </form>
    </div>
</div>